<html>
    <body>
        <h1>Predict Bankrupcy</h1>
        <form action="/" method="post">
            <p>Please Enter the net profit to total Asset Ratio: </p>
            <p><input type="number" step= 0.01 name = "NPTA"></p>
            <p>Please Enter the Total Liability to Total Asset Ratio: </p>
            <p><input type="number" step= 0.01 name = "TLTA"></p>
            <p>Please Enter the Working Capital to Total Asset Ratio: </p>
            <p><input type="number" step= 0.01 name = "WCTA"></p>
            <p><input type="submit" value="Enter" ></p>
        </form>
        {{result}}
    </body>
</html>